#shop_category_header{
    padding-left: 2%;
    padding-top: 1%;
}
#brief_intro{
    padding: 2%;
    font-family: "Apple Chancery", sans-serif;
    font-size: 20px;
    text-indent: 2em;
}
#shops{
    padding: 2%;
    text-align: center;
}
.shop .card{
    border: none;
    padding-bottom: 1%;
}
.card-img-top{
    height: 20%;
}
.dish{
    padding-top: 1%;
    padding-bottom: 2%;
}
.body{
    background-color: blanchedalmond;
}
